</br>
</br>
<div class="col align-self-center card text-center">
  <div class="card-header">
    Log in
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>          
      <div class="field form-group mb-3">
        <% f.label :email %>
        <%= f.email_field :email, class:"form-control", placeholder:"example@email.com" %>
      </div>         
      <div class="field form-group mb-2">
        <% f.label :password %>
        <%= f.password_field :password, class:"form-control", placeholder:"current password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field form-group text-start mb-5">
          <%= f.check_box :remember_me, class:"form-check-input"  %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions d-grid gap-2 mb-3">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= render "devise/shared/links"%>
  </div>
</div>

