</br>
</br>
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <% post.errors.each do |error| %>
      <div id="error_explanation" class="alert alert-warning alert-dismissible fade show">
          <%= error.full_message %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
  <div class="col align-self-center card">
    <div class="card-header text-center">
      + New Post
    </div>
    <div class="card-body">        
      <div class="field form-group mb-3">
        <div class="field form-group text-center mb-3">
          <%= form.file_field :image, class:"form-control mb-4", placeholder:"Choose an Image" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :name, class:"form-control", placeholder:"Name the post (something short)" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :iso, class:"form-control", placeholder:"ISO Number" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :shutter_speed, class:"form-control", placeholder:"Shutter Speed (1/200)" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :appature, class:"form-control", placeholder:"Appature Decimal (4.0)" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :composition, class:"form-control", placeholder:"Composition: Rule of third, centered, foreground, etc" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_field :location, class:"form-control", placeholder:"Photo Location: Seattle, New York, China" %>
        </div>

        <div class="field form-group mb-3">
          <%= form.text_area :description, class:"form-control", placeholder:"Breif Description/More Information." %>
        </div>

        <div class="field form-group mb-3">
          <%= form.number_field :user_id, id: :post_user_id, class:"form-control", value:current_user.id, type: :hidden%>
        </div>

        <div class="actions d-grid gap-2 mb-3"">
          <%= form.submit class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
