</br>



<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <%= image_tag @post.image, style: "max-width: 100%; min-width: 300px;}" %>
        </div>
        <div class="card-footer">

          <%= "Rating: #{@rate}(#{@ratecount})" %>

        </div>
      </div>
    </div>
    <div class="col">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @post.name %></td>
          </tr>
          <tr>
            <th scope="row">ISO</th>
            <td><%= @post.iso %></td>
          </tr>
          <tr>
            <th scope="row">Shutter speed</th>
            <td><%= @post.shutter_speed %></td>
          </tr>
          <tr> 
            <th scope="row">Appature</th>
            <td><%= @post.appature %></td>
          </tr>
          <tr>
            <th scope="row">Composition</th>
            <td><%= @post.composition %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><%= @post.location %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= @post.description %></td>
          </tr>
          <tr>
            <th scope="row">Photographer</th>
            <td>
              <% first_name = User.find_by(id: (@post.user_id)).first_name %>
              <% last_name = User.find_by(id: (@post.user_id)).last_name %>
              <% photographer = first_name +" "+ last_name %>
              <%= link_to "#{photographer}", user_path(@post.user_id), class:"nounderline"%>
            </td>
          </tr>
          <% if user_signed_in? && @post.user_id == current_user.id%>
            <tr>
              <td colspan="2">
                <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %>
                <%= link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?", class:"btn btn-danger" %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <% if @previous %>
            <%= link_to "", @previous, class: "bi bi-arrow-left", style: "font-size: 3rem; color: cornflowerblue;" %>
          <% end %>
        </div>
        <div class="col text-end">
          <% if @next %>
            <%= link_to "", @next, class: "bi bi-arrow-right", style: "font-size: 3rem; color: cornflowerblue;" %>
          <% end %>
        </div>
      </div>
    

      <% if user_signed_in? %>
        <% if !post_rated_users(@rating_user_id).include?(current_user.id) %>
          <%= render 'rating', post: @post %>
        <% elsif  post_rated_users(@rating_user_id).include?(current_user.id) %>
          <div class="card-footer text-center">
            <%= "You have already gave this post a #{already_post_rating(@rating_user_id)} rating"%>
          </div>
        <% end %> 
      <% elsif !user_signed_in? %>
        
        <div class="card-footer text-center">
          Please sign in to rate some photos 
          <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
        </div>
       
      <% end %>       

    </div>
  </div>
</div>










