<div id="<%= dom_id support %>">
  <p>
    <strong>Name:</strong>
    <%= support.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= support.content %>
  </p>

  <p>
    Posted <%= time_tag support.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong>Status:</strong>
      <%= support.status %>
  </p>

</div>
