<div id="<%= dom_id support %>">
  <div class="card mb-5">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <%= support.name %>
        </div>
        <div class="col text-end">
          From: <%= link_to "#{User.find(support.user_id).first_name} #{User.find(support.user_id).last_name}", user_path(support.id), class:"nounderline"%>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= support.content %>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col">
          <%= link_to "Show this support", support, class:"btn btn-outline-secondary btn-sm" %>
        </div>
        <div class="col text-end">
          Posted <%= time_tag support.created_at, "data-local": "time-ago" %>
        </div>
      </div>
    </div>
  </div>
</div>
